doctype html
html
  head
    meta(charset='utf-8')
    meta(name='author', content='')
    meta(name='description', content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title React with DeLorean.js Todo List
    script(src='/build/vendor.bundle.js')
    script(src='/build/bundle.js')
  body
    block content
